@import "../../../../assets/styles/_variables.scss";

.overlay {
  .container {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    color: $menu-text-color;

    .overlay-bold {
      font-weight: bold;
    }
  }
}
